{% extends "kingblog/layout.html" %}

{% block body %}
<div class="container" style="color: #fff;">
<h1>WhoAmI</h1>
<p style="color: #fff;">
    My name is Adetoye Anointing [KingAnointing] probably want to have a tech name like everyone, something like <b>Alien dev</b> lol,
    I am a golang and python backend developer that uses a couple of frameworks in my stack well, I also love Linux alot. I mean who doesn't love the commandline.
    <br>
    my Favorite text editor is VS-Code and I make use the hacker theme incase you want to code like me ....haha lol
</p>
<p>
    I use a couple of framework for my language like :
    <br>
    Python :  Django --> for web app and web site backend
    <br>&emsp; &emsp; &emsp; &emsp; &emsp14; Django Rest Framework --> for ReST like APIs
    <p>
    Golang : Gorrila mux --> for routing 
    <br>&emsp; &emsp; &emsp; &emsp; &emsp14; Gin-gonic --> for ReST like APIs and more
    </p>
</p>
<p>
    My stack is Backend Development, but i'm intrested in a much wider scope in the tech field, like Cyber Security, digital forensics, and i'd probably look into blockchain and web3 one day
    <br>
    I love logics and would be like to know very much about Data Structure and Algorithm then i would document it on here :)

    <p>
        In spare time I code, watch anime, adult cartoon like Rick and Morty and Love,Death X Robot and play online video games,
        <br>
        I speak english, would like to learn japanese and spanish when I become rich from tech and I have a huge Interest to travel the world 

        <p>
            You can follow me on <a href="https://www.twitter.com/KingAn0inting/">Twitter</a> and <a href="https.//www.github.com/KingAnointing">Github</a>
        </p>
    </p>
</p>

<h3>About The Blog </h3>

<p>
    I figured I have a lot to share with the world about my journey in Tech ( still in the process/ journey tho ), hence the creation of my space in the internet where I share this experience.
    <br>
    If you make lot of mistakes while coding and like fixing them yourself cause you have a feel good feeling then this blog is certainly for you 
    <br>
    <br>
    I blog about golang, python, linux, and prolly other hackerstuff I find amusing and feel like sharing...:: peace ;)
</p>
{% endblock body %}